.pizza-catalog {
    margin: 40px 0 96px;

    @media(max-width: 992px){
        margin: 32px 0 64px;
    }

    &__top {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            margin-right: -32px;
            flex-direction: column;
            align-items: start;
            gap: 24px;
        }

        @media (max-width: 576px) {
            margin-right: -16px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
        column-gap: 32px;
        row-gap: 64px;

        @media (max-width: 1200px) {
            row-gap: 48px;
        }

        @media(max-width: 576px){
            display: flex;
            flex-direction: column;
        }
    }
}
